*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}
body{
    background-color: #21252a;

}

.container{
    max-width: 1280px;
    margin: 0 auto;
    // height: 100vh;
}